<html>
<head>
    <title>PIDIODER LOLZOMG!</title>
    <style type="text/css">
		button {
			width: 128px;
			height: 128px;
        margin: 4px;
		}
           input {
               padding: 4px;
                margin: 4px;
           }
	</style>
</head>
<body>

<div id="wrapper">
	<div class="row">
		<form>
			<button value="rot" name="targetcolor">Rot</button>
			<button value="blau" name="targetcolor">Blau</button>
			<button value="gruen" name="targetcolor">Gruen</button>
			<button value="orange" name="targetcolor">orange</button>
			<button value="favgruen" name="targetcolor">geiles Gruen</button>
			<button value="lighter" name="targetcolor">Heller</button>
			<button value="darker" name="targetcolor">Dunkler</button>
			<button value="off" name="targetcolor">Aus!</button>
			<div>
				Rot: <input name="manual_r" /><br />
				Gruen: <input name="manual_g" /><br />
				Blau: <input name="manual_b" /><br />
				<button value="set" name="manual">Set</button>
			</div>
		</form>
	</div>
</div>

</body>
</html>
